html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.7em;
    color: #4c4c4c;
    background-color: #f9f9f9;
}

* {
    box-sizing: border-box;
}

a {
    color: #268bca;
    text-decoration: none;
    word-wrap: break-word;
}

article a:hover {
    text-decoration: underline;
}

aside a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

code:not([class]) {
    color: #434343;
    padding: 0.25em;
    background-color: rgb(243, 243, 243);
    border-radius: 0.3em;
}

ul {
    line-height: 2em;
}

article pre {
    overflow: inherit;
}
article h2 {
    margin-top: 2.3em;
    margin-bottom: 1em;
    border-left: solid 5px #afafaf;
    padding: 10px;
    background: #f3f3f3;
    border-bottom: solid 3px #e5e5e5;
}

article h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    border-left: solid 3px #afafaf;
    padding: 2px 8px;
    background: #fbfbfb;
}

article h4 {
    margin-top: 1.75em;
    margin-bottom: 1em;
}

.code-block-title {
    line-height: normal;
}

blockquote {
    color: #616161;
    border-left: #e7e7e7 solid 4px;
    padding-left: 5px;
}

.text-dark {
    color: #4c4c4c;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

table> :not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

table>tbody {
    vertical-align: inherit;
    border: solid 1px;
    border-color: var(--bs-table-border-color);
}

table>thead {
    vertical-align: bottom;
    border: solid 1px;
    border-color: var(--bs-table-border-color);
    background-color: #ebebeb;
}

table>thead>tr>th, table>tbody>tr>td {
    border: solid 1px;
    border-color: var(--bs-table-border-color);
}
