html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.7em;
    color: #4c4c4c;
    background-color: #f9f9f9;
}

* {
    box-sizing: border-box;
}

a {
    color: #268bca;
    text-decoration: none;
}

article a:hover {
    text-decoration: underline;
}

aside a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

code:not([class]) {
    color: #434343;
    padding: 0.25em;
    background-color: rgb(243, 243, 243);
    border-radius: 0.3em;
}

ul {
    line-height: 2em;
}

article h2 {
    margin-top: 2.3em;
    margin-bottom: 1em;
    border-left: solid 5px #afafaf;
    padding: 10px;
    background: #f3f3f3;
    border-bottom: solid 3px #e5e5e5;
}

article h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    border-left: solid 3px #afafaf;
    padding: 2px 8px;
    background: #fbfbfb;
}

article h4 {
    margin-top: 1.75em;
}

.code-block-title {
    line-height: normal;
}

blockquote {
    color: #616161;
    border-left: #e7e7e7 solid 4px;
    padding-left: 5px;
}

.text-dark {
    color: #4c4c4c;
}
