.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
}

.borderCircle {
    border-radius: 9999px;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
}

.lightText {
    color: #8d8d8d;
}

.topImage {
    width: 100%;
    background-image: url('https://images-for-yajima-tech-blog.s3.ap-northeast-1.amazonaws.com/20221216085448.jpg');
    background-position: center -21px;
    background-repeat: no-repeat;
    position: relative;
    align-items: center;
    margin: 0 auto;
}

.topH1 {
    text-align: center;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
    padding-top: 70px;
    font-size: 3rem;
    margin-top: 0;
}

@media (max-width: 768px) {
    .topH1 {
        text-align: center;
        color: #fff;
        text-shadow: 0px 0px 20px #000;
        padding-top: 70px;
        font-size: 2rem;
        margin-top: 0;
    }
}
.textDecorationNone:hover {
    text-decoration: none;
}

.topH2 {
    font-size: 80%;
    margin: 5px 0 0 0;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    text-align: center;
}

.profile {
    text-align: center;
    width: 100%;
}

.author {
    font-size: 110%;
    font-weight: 700;
}

.authorDescription {
    font-size: 80%;
}

.authorImage {
    height: 120px;
    width: 120px;
    object-fit: cover;
    margin: 40px auto 0;
}

.authorBox {
    padding: 10px 20px 0 20px;
    text-align: center;
}

.twitter {
    background: #71abdf;
    padding: 0;
    text-align: center;
    display: inline-block;
    margin-right: 0;
    float: none;
    list-style: none;
    width: 40px;
    height: 40px;
    position: relative;
    font-size: 24px;
    vertical-align: middle;
    border-radius: 50%;
    padding-left: 2px;
}

.twitter:hover {
    background: #5683aa;
    transition: all .5s;
}

.profileSns {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.p0 {
    padding: 0;
}

.snsLink {
    margin: 0;
    border-radius: 50%;
    box-sizing: border-box;
    color: #fff;
    font-size: 21px;
    height: 40px;
    width: 40px;
    padding: 0;
    justify-content: center;
    position: relative;
    align-items: stretch;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;
    line-height: 42px;
    transition: all .5s;
}

.mb30 {
    margin-bottom: 30px;
}
